18-Aug-2015 11:16:52.709 network: info: no longer listening on ::#53
18-Aug-2015 11:16:52.710 network: info: no longer listening on ###IP####53
18-Aug-2015 11:16:52.710 network: info: no longer listening on ###IP####53
18-Aug-2015 11:30:15.813 network: info: no longer listening on ###IP####53
18-Aug-2015 11:30:20.215 network: info: listening on IPv4 interface eth1, ###IP####53
18-Aug-2015 12:03:12.300 network: info: no longer listening on ###IP####53
18-Aug-2015 12:03:18.502 network: info: listening on IPv4 interface eth1, ###IP####53
18-Aug-2015 12:03:32.425 network: info: no longer listening on ###IP####53
18-Aug-2015 12:03:38.656 network: info: listening on IPv4 interface eth1, ###IP####53
18-Aug-2015 14:11:00.967 network: info: no longer listening on ###IP####53
18-Aug-2015 14:11:08.183 network: info: listening on IPv4 interface eth1, ###IP####53
18-Aug-2015 14:46:18.728 network: info: no longer listening on ::#53
18-Aug-2015 14:46:18.728 network: info: no longer listening on ###IP####53
18-Aug-2015 14:46:18.728 network: info: no longer listening on ###IP####53
18-Aug-2015 15:29:13.103 network: info: no longer listening on ::#53
18-Aug-2015 15:29:13.104 network: info: no longer listening on ###IP####53
18-Aug-2015 15:29:13.104 network: info: no longer listening on ###IP####53
18-Aug-2015 15:40:42.664 network: info: no longer listening on ::#53
18-Aug-2015 15:40:42.664 network: info: no longer listening on ###IP####53
18-Aug-2015 15:40:42.664 network: info: no longer listening on ###IP####53
18-Aug-2015 15:42:59.067 network: info: no longer listening on ::#53
18-Aug-2015 15:42:59.068 network: info: no longer listening on ###IP####53
18-Aug-2015 15:42:59.068 network: info: no longer listening on ###IP####53
18-Aug-2015 15:52:30.772 network: info: no longer listening on ::#53
18-Aug-2015 15:52:30.772 network: info: no longer listening on ###IP####53
18-Aug-2015 15:52:30.772 network: info: no longer listening on ###IP####53
18-Aug-2015 15:59:48.330 network: info: no longer listening on ::#53
18-Aug-2015 15:59:48.330 network: info: no longer listening on ###IP####53
18-Aug-2015 15:59:48.330 network: info: no longer listening on ###IP####53
18-Aug-2015 16:00:30.128 network: info: no longer listening on ::#53
18-Aug-2015 16:00:30.128 network: info: no longer listening on ###IP####53
18-Aug-2015 16:00:30.128 network: info: no longer listening on ###IP####53
18-Aug-2015 16:01:51.938 network: info: no longer listening on ::#53
18-Aug-2015 16:01:51.938 network: info: no longer listening on ###IP####53
18-Aug-2015 16:01:51.938 network: info: no longer listening on ###IP####53
18-Aug-2015 16:04:56.487 network: info: no longer listening on ::#53
18-Aug-2015 16:04:56.487 network: info: no longer listening on ###IP####53
18-Aug-2015 16:04:56.487 network: info: no longer listening on ###IP####53
18-Aug-2015 16:05:34.288 network: info: no longer listening on ::#53
18-Aug-2015 16:05:34.288 network: info: no longer listening on ###IP####53
18-Aug-2015 16:05:34.288 network: info: no longer listening on ###IP####53
18-Aug-2015 16:07:28.474 network: info: no longer listening on ::#53
18-Aug-2015 16:07:28.476 network: info: no longer listening on ###IP####53
18-Aug-2015 16:07:28.476 network: info: no longer listening on ###IP####53
18-Aug-2015 16:41:34.643 network: info: no longer listening on ::#53
18-Aug-2015 16:41:34.644 network: info: no longer listening on ###IP####53
18-Aug-2015 16:41:34.644 network: info: no longer listening on ###IP####53
18-Aug-2015 16:47:12.502 network: info: no longer listening on ::#53
18-Aug-2015 16:47:12.502 network: info: no longer listening on ###IP####53
18-Aug-2015 16:47:12.502 network: info: no longer listening on ###IP####53
18-Aug-2015 20:14:39.496 network: info: no longer listening on ###IP####53
18-Aug-2015 20:14:44.212 network: info: listening on IPv4 interface eth1, ###IP####53
19-Aug-2015 01:21:35.759 network: info: no longer listening on ###IP####53
19-Aug-2015 01:21:39.266 network: info: listening on IPv4 interface eth1, ###IP####53
19-Aug-2015 03:48:50.558 network: info: no longer listening on ###IP####53
19-Aug-2015 03:48:57.678 network: info: listening on IPv4 interface eth1, ###IP####53
